/* 首页新房 */
.part1 a.li{width:100%;display:block;min-height:100px;margin-bottom:40px;}
.part1 a.li .pic{position:relative;}
.part1 a.li .pic .pmask{text-align:center;line-height:200px;opacity:0;height:100%;width:100%;background-color:rgba(0,107,77,0);position:absolute;top:0;left:0;}
.part1 a.li .pic .pmask span{color:#fff;font-size:24px;font-weight:100;}
.part1 a.li .info{padding:20px;background-color:#3E3E3E;}
.part1 a.li .info a{color:#fff;font-weight:100;}
.part1 a.li .info .tit{font-size:20px;color:#fff;}
.part1 a.li .info .city{color:#fff;font-weight:100;font-size:18px;line-height:180%;}
.part1 a.li .info .kid{color:#fff;font-weight:100;font-size:14px;}
.part1 a.li .info{background-color:rgba(0,106,77,1)}
.part1 a.li:hover .info{background-color:rgba(63,63,63,1)}
.part1 a.li:hover .pic .pmask{background-color:rgba(0,107,77,0.7);opacity:1;}
/* 首页二手房 */
.part2 a.li{width:100%;display:block;min-height:100px;margin-bottom:40px;}
.part2 a.li .pic{position:relative;}
.part2 a.li .pic .price{padding:0 15px;font-size:18px;position:absolute;bottom:25px;left:-10px;color:#fff;height:33px;line-height:33px;background-color:#006A4D;}
.part2 a.li .pic .price .parr{width: 0;height: 0;border-left: 5px solid transparent;border-top: 3px solid transparent;border-right: 5px solid #004D38;border-bottom: 4px solid #004D38;display: block;position:absolute;left:0;top:-7px;}
.part2 a.li .info{background-color:#fff;padding:10px 15px;color:#666;}
.part2 a.li .info .tit{font-size:18px;color:#000;}
.part2 a.li .info .city{color:#4A4A4A;font-weight:300;line-height:28px;}
.part2 a.li .info .finfo{color:#9B9B9B;font-weight:200;}
/* 中间广告区 */
.part3{margin-bottom:40px;}
.part3 .row{padding-left:15px;padding-right:15px;}
.part3 .row .col-md-6{padding:0;}
.lean{text-align:center;float:left;width:100%;height:365px;background-size:cover;background-image:url('../../img/static-bg-img-1.jpg');padding:40px;}
.lean .info{font-size:26px;color:#fff;text-align:center;margin-bottom:20px;font-weight:100;}
.lean .abtn{padding:6px 12px;background:#fff;color:#006A4D;font-size:14px;margin-top:10px;}
.lean .abtn:hover{background-color:#66C010;color:#fff;}
.leaned{cursor:pointer;float:right;height:365px;width:100%;background-size:cover;background-image:url('../../img/Web_collage_Updated.png')}
/* 首页底部三栏 */
.part4{margin-bottom:40px;}
.part4 .info{background-size:cover;position:relative;padding:20px;color:#fff;font-weight:100;min-height:300px;}
.part4 .li1 .info{background-image:url('../../img/static-bg-img-2.jpg');background-position:0px 0px;}
.part4 .li2 .info{background-image:url('../../img/static-bg-img-3.jpg');color:#444;font-weight:200;}
.part4 .li3 .info{background-image:url('../../img/static-bg-img-4.jpg');background-position:0px 0px;}
.part4 .info .tit{font-size:26px;}