/*  */
body{background:#fff;}
.led{background-image:url('../../img/resale/ed.png');}
.skid{margin-bottom:50px;border-bottom:1px solid #cecece;text-align:center;line-height:50px;position:relative;height:50px;font-size:24px;}
.skid .ctit{padding:0 20px;background:#fff;position:absolute;bottom:-25px;left:50%;margin-left:-150px;width:300px;}
.skid .ctit a{color:#000;margin:0 20px;}
.skid .ctit a.on{border-bottom:3px solid #006A4D;font-weight:bold;}
/* 列表区 横向排列*/
/*.main a.li{width:100%;display:block;min-height:100px;border-bottom:1px solid #d2d2d2;padding-bottom:20px;padding-top:20px;margin-left:0;margin-right:0;}
.main a.li .col-md-4{padding-left:0 !important;}
.main a.li .pic{position:relative;}
.main a.li .pic .pmask{text-align:center;line-height:200px;opacity:0;height:100%;width:100%;background-color:rgba(0,107,77,0);position:absolute;top:0;left:0;}
.main a.li .pic .pmask span{color:#fff;font-size:24px;font-weight:100;}
.main a.li .info{}
.main a.li .info a{color:#fff;font-weight:100;}

.main a.li .info .tit{font-size:20px;color:#000;margin-bottom:10px;}
.main a.li .info .addr{font-size:14px;color:#000;}
.main a.li .info .city{color:#000;font-weight:300;font-size:18px;line-height:180%;}
.main a.li .info .kid{color:#000;font-weight:300;font-size:14px;}
.main a.li .price{font-size:20px;color:#4a4a4a;margin-top:80px;}
.main a.li .price .pn{color:#006A4D;font-size:24px;}
.main a.li:hover{background-color:#FBFBFB;border-bottom:1px solid #d2d2d2;}*/
.main a.li{width:100%;display:block;min-height:100px;margin-bottom:40px;margin-top:40px;}
.main a.li .pic{position:relative;}
.main a.li .pic .pmask{text-align:center;line-height:200px;opacity:0;height:100%;width:100%;background-color:rgba(0,107,77,0);position:absolute;top:0;left:0;}
.main a.li .pic .pmask span{color:#fff;font-size:24px;font-weight:100;}
.main a.li .info{padding:20px;padding-left:0;}
.main a.li .info a{color:#fff;font-weight:100;}

.main a.li .info .tit{font-size:20px;color:#000;}
.main a.li .info .addr{font-size:14px;color:#000;}
.main a.li .info .city{color:#000;font-weight:300;font-size:18px;line-height:180%;}
.main a.li .info .kid{color:#000;font-weight:300;font-size:14px;}
.main a.li .info .price{color:#006A4D;font-size:24px;}

.main a.li:hover .pic .pmask{background-color:rgba(0,107,77,0.7);opacity:1;}

.txt3{color:#9b9b9b;font-size:12px;padding:10px 0 0 0;line-height:180%;}
/*房源*/
.left .txt3 .info{font-size:13px;color:#4a4a4a;line-height:100%;}
.left .txt3 .city{margin-top:10px;}
.left .txt3 .price{margin-top:10px;}
/*资讯*/
.left .txt3 .li2{font-size:14px;color:#4a4a4a;width:100%;overflow:hidden;display:block;padding-left:10px;padding-right:10px;line-height:250%;border-bottom:1px dotted #9b9b9b;}
.left .txt3 .li2:hover{color:#006a4d;}
.left .txt3 .xmore{display:block;color:#4a4a4a;text-align:right;line-height:250%;}
.left .txt3 .xmore:hover{color:#006a4d;}